.subheadings {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
    background-color: #f0f0f0;
  }
  
  .chat-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .chat-section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50vw;
    height: 500px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 0 20px; */
    padding-bottom: 67px;
  }
  
  .chat-bubbles-section {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .code-section {
    display: flex;
    text-align: initial;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
    width: 40vw;
    height: 500px;
    border: 2px solid #dcf8c6;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .jump-to-bottom-button {
    font-size: small;
    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1; /* Make sure it's above the chat section */
  }
  
  .jump-to-bottom-button.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-20px);
  }
  
  .input-area {
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .microphone-icon {
    font-size: 20px;
    margin: 0 10px;
    color: #666666;
    cursor: pointer;
  }
  
  .input-field {
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 12px;
    flex: 1;
  }
  
  .send-icon {
    font-size: 20px;
    margin: 0 10px;
    color: #666666;
    cursor: pointer;
  }
  
  .send-code-button {
    background-color: #dcf8c6;
    display: inline-block;
    padding: 8px 16px;
    width: fit-content;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  