.chat-bubble-container {
  display: flex;
  padding: 1.25rem;
  align-items: flex-start;
  transition: transform 0.2s, box-shadow 0.2s;
}

.chat-bubble {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  font-size: 14px;
  box-sizing: border-box;
}

.left {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(219, 234, 254);
  border-top: 1px solid rgb(219, 234, 254);
  justify-content: space-between;
}
.right {
  background-color: rgb(239, 246, 255);
}
.tyn-qa-avatar {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
}

.message-text {
  align-self: center;
}
.timestamp {
  font-size: 12px;
  opacity: 0.7;
  align-self: flex-end;
}

.icon-container {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  transform: scale(1.2);
}

.speak-icon {
  font-size: 20px;
  color: #666666;
  height: 48px;
  width: 48px;
  border-radius: 36px;
}

.speak-icon:hover {
  color: #2563eb;
  background-color: rgb(191, 219, 254) !important;
  border-color: rgb(191, 219, 254);
}
