.tab_label_component_main_div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.css-6mjngv-GenericLogo {
    color: rgb(255, 152, 0);
    display: block;
    font-size: 24px;
    flex: 0 0 auto;
}
.css-1av3ddr-InterviewSummary {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 10px;
    font-size: 14px;
    text-transform: math-auto;
}
.css-cxpqvl-InterviewSummaryEleCont {
    color: rgb(38, 50, 56);
    display: flex;
    font-size: 14px;
    text-align: left;
    text-transform: math-auto;
}
.css-1oyvkl0-InterviewSummaryLeftEle {
    display: block;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}
.css-cgnmkp-InterviewSummaryRightEle {
    display: block;
    flex: 0 0 auto;
    font-size: 14px;
}
.css-1a8mw5b-InterviewStatusDisplayCont {
    color: rgb(158, 158, 158);
    font-weight: 500;
    font-size: 14px;
}
.css-cxpqvl-InterviewSummaryEleCont {
    color: rgb(38, 50, 56);
    display: flex;
    opacity: 0.6;
    font-size: 14px;
}.css-1oyvkl0-InterviewSummaryLeftEle {
    display: block;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}.css-cgnmkp-InterviewSummaryRightEle {
    display: block;
    flex: 0 0 auto;
    font-size: 14px;
}
.css-lfwcke-MuiTabs-flexContainer{
    width: 350px;
}
.css-xkn2kk-QuestionItemContainer {
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 20px;
}.css-1n4xofq-QuestionItemInfo {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0px 15px;
}.css-cwdo40-QuestionItemDetails {
    flex: 0 0 auto;
    cursor: pointer;
    font-size: 14px;
    color: #1890ff;
}.css-12tgxhh-QuestionLink {
    font-weight: 500;
    font-size: 16px;
    color: rgb(33, 33, 33);
    transition: all 0.18s ease-in-out 0s;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}.css-1n4xofq-QuestionItemInfo > * {
    padding: 1px 0px;
}.css-vjt3mz-TestcaseProgressContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}.css-oqomka-TestcaseProgressDetails {
    font-size: 12px;
}